<%= div_for shout do %>
  <div class="row">
    <div class="col-md-1">
      <%= gravatar shout.user %>
    </div>
    <strong><%= link_to shout.user.username, shout.user %></strong> <%= link_to time_ago_in_words(shout.created_at), shout %>
    <p> <%= render shout.content %> </p>
  </div>
<% end %>
