<%= form_for :session, url: session_path do |form| %>
  <div class="jumbotron col-md-5">
    <p><%= form.label :email %></p>
    <p><%= form.email_field :email %></p>
    <p><%= form.label :password %></p>
    <p><%= form.password_field :password %></p>
    <div>
      <%= form.submit "Sign in", class: "btn btn-primary btn-lg" %>
      <h4>Don't have an account? <strong><%= link_to "Register", [:new, :user] %></strong></h4>
      <h4><strong><%= link_to "I forgot my password", new_password_reset_path %> </strong></h4>
    </div>
  </div>
<% end %>
