<%= form_for :session, url: session_path do |form| %>
  <div class="panel panel-primary">

    <div class="panel-heading">
      <h3 class="panel-title">Sign In</h3>
    </div>

    <p>Don't have an account? <%= link_to "Sign Up", [:new, :user] %>!</p>

    <%= form.label :email %>
    <p><%= form.email_field :email %> </p>

    <%= form.label :password %>
    <p><%= form.password_field :password %>
    </div>

    <div>
      <%= form.submit "Sign in" %>
    </div>
  </div>
<% end %>
